modules = ["python-3.12", "nix"]
run = "uvicorn main:app --host 0.0.0.0 --port 8000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 8000"]

[workflows]
runButton = "Run Gateway"

[[workflows.workflow]]
name = "Run"
author = 40868364
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 8100"

[[workflows.workflow]]
name = "Run Gateway"
author = 40868364
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn api_gateway.app.main:app --host 0.0.0.0 --port 8000 --reload"
